button {
  width: 200px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #0ae;

  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}

body {
  display: grid;
  grid-template-rows: 660px 30px;
  grid-template-columns: 1100px 1fr;
  overflow-y: hidden;
}

@media screen and (min-width: 1500px) {
  body {
    grid-template-rows: 800px 30px;
    grid-template-columns: 1fr 1fr;
  }
}

#container {
  display: flex;
  justify-content: left;
  width: 100%;
  height: 100%;
  border-right: deepskyblue 5px solid;
}
#output-div {
  width: 100%;
  max-width: 2500px;
  height: 100%;
  max-height: 800px;
  overflow-y: scroll;
  background-image: linear-gradient(150deg, #98b2da, #bba289);
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
  color: azure;
}
#nameless-knight-hp-text,
#julia-the-archer-hp-text,
#the-cat-hp-text,
#big-boss-hp-text,
#william-the-healer-mana-text,
#jack-the-lumberjack-mana-text {
  font-size: 1.5rem;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.life-bar,
.mana-bar {
  position: absolute;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stats-div {
  display: flex;
  gap: 5rem;
  justify-content: space-evenly;
}
.stats-container {
  text-align: left;
}
.menu-div {
  grid-row: 2;
  grid-column: 1/3;
  font-family: sans-serif;
  display: flex;
  justify-content: space-evenly;
  border-top: 3px solid black;
  border-bottom: 2px solid black;
  text-align: center;
  width: 100%;
  height: 30px;
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
  margin: auto;
  box-sizing: border-box;
}

#modal-div {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}
#modal-close-btn {
  position: absolute;
  left: 40%;
  bottom: 150px;
  margin: 1rem;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(212, 60, 60);
  cursor: pointer;
  z-index: 20;
}
#modal-content {
  position: absolute;
  top: 25%;
  left: 10%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.8) 99%
  );
  border: 2px solid black;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 200px;
  width: 80%;
  z-index: 10;
}

.friendly,
.enemy,
.monster,
.damage,
.heal {
  font-weight: bold;
  font-size: 1.1rem;
}
.friendly {
  color: lime;
}
.enemy {
  color: red;
}
.monster {
  color: slateblue;
}
.damage {
  font-size: 2em;
  color: yellow;
}
.heal {
  font-size: 1.5em;
  color: cyan;
}
p {
  animation: forwards fade 5ms;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
hr {
  margin: 1rem;
}

.mana-bar-container img {
  height: 50px;
  left: -50px;
}

.healer-container {
  position: relative;
  left: 50px;
  top: 250px;
}

.lumberjack-container {
  left: 50px;
  top: 310px;
}

/* Optional Mana Div Supports */
#william-the-healer-mana-div,
#jack-the-lumberjack-mana-div {
  width: 0;
  height: 50px;
  background-color: rgb(0, 90, 255);
  transition: ease-in 0.5s;
}

.mana-bar-container {
  position: absolute;
  height: 50px;
  width: 200px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(50, 50, 50);
}

#nameless-knight-hp-div,
#julia-the-archer-hp-div,
#the-cat-hp-div {
  width: 0;
  height: 50px;
  background-color: rgb(90, 180, 90);
  transition: ease-in-out 0.5s;
}

#big-boss-hp-div {
  width: 0;
  height: 50px;
  background-color: rgb(190, 190, 90);
  transition: ease-in-out 0.5s;
}

#appearing-monster-text {
  font-size: 1.2rem;
  position: absolute;
  left: 650px;
  bottom: 130px;
}
#arrow-div {
  display: flex;
  align-items: center;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 180px;
  bottom: 80px;
}
#arrow-div img {
  position: relative;
  width: 100%;
  height: 100%;
}

.characters img {
  transition: ease-out 5ms;
}
#big-boss {
  transition: ease-out 500ms;
  /* animation: meteorStrike 2s ease-in; */
}

@keyframes meteorStrike {
  0% {
    transform: translate(0px, 0px);
  }
  35% {
    transform: translate(150px, -500px) rotate(-145deg);
  }
  50% {
    transform: translate(-400px, -50px) rotate(-145deg);
  }
  80% {
    transform: translate(-400px, 0px) rotate(-145deg);
  }
  90% {
    transform: translate(-400px, 50px) rotate(-145deg);
  }
  92% {
    transform: translate(-400px, 25px) rotate(-145deg);
  }
  94% {
    transform: translate(-400px, 50px) rotate(-145deg);
  }
  100% {
    transform: translate(-400px, 0px) rotate(0deg);
  }
}

#ground-stomp {
  display: none;
  position: absolute;
  left: 110px;
  bottom: -70px;
  width: 45%;
  height: 45%;
  animation: forwards ground-stomp 500ms;
}
#explosion {
  display: none;
  position: absolute;
  width: 250px;
  left: 200px;
  bottom: 30px;
}
#arrow {
  display: none;
  width: 20%;
  top: 560px;
  left: 250px;
  z-index: 10;
  transition: ease-out 500ms;
}
#fire-strike {
  display: none;
  width: 8%;
  left: 420px;
  bottom: 50px;
  z-index: 10;
  transition: ease-out 500ms;
}
#knight-slash {
  display: none;
  width: 50%;
  left: 380px;
  top: 180px;
  z-index: 10;
}

.bgm-div {
  position: absolute;
  left: 30%;
  top: 1rem;
  text-align: center;
}
